* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  background-image: linear-gradient(to left, #fcd98f, white 20% 80%, #f3a908); }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

.container, .maintitle, .gridmaintitle {
  text-align: center;
  font-size: 40px;
  color: #6e5b26; }

.header {
  background-color: #494b52; }

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__content-img {
  width: 70px; }

.header__content-navbar {
  display: flex; }

.header__content-navbar a {
  margin: 0 15px;
  color: #e2e8f0;
  font-weight: bold; }

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black; }
  .footer__rrss {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px; }
    .footer__rrss .rs-twitter {
      color: white;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-twitter:hover {
        color: #55acee; }
    .footer__rrss .rs-instagram {
      color: white;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-instagram:hover {
        color: #c92d8f; }
    .footer__rrss .rs-facebook {
      color: white;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-facebook:hover {
        color: #2279e4; }
  .footer.footer__copy {
    padding-top: 40px;
    text-align: center; }

.mainsection {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 800px;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-top: 100px; }
  .mainsection__p {
    background-color: #ffe8aa;
    height: 400px;
    width: 25%;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px black;
    transition: transform 0.5s; }
    .mainsection__p:hover {
      transform: scale(1.4); }

.gridcontainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  margin: 0 auto;
  grid-template-areas: "header header header"	 "titulo titulo titulo" "contenido contenido img" "footer footer footer";
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 50px 100px 100% 50px;
  height: 100vh; }

.gridheader {
  grid-area: header;
  background-color: #494b52; }
  .gridheader__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .gridheader__content-img {
      width: 70px; }
    .gridheader__content-navbar {
      display: flex; }
      .gridheader__content-navbar a {
        margin: 0 15px;
        color: #e2e8f0;
        font-weight: bold; }

.gridmainsection {
  height: auto;
  width: auto;
  border: #494b52;
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding: 40px;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px black;
  margin-top: 50px;
  background-color: white; }

.gridmaintitle {
  grid-area: titulo; }

.gridmainimg {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .gridmainimg img {
    padding: 40px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px black;
    background-color: white; }

.gridfooter {
  grid-area: footer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }
  .gridfooter__img img {
    width: 40px; }
  .gridfooter__content p {
    text-align: center;
    width: 3px;
    color: #494b52; }

@media (max-width: 815px) {
  .gridcontainer {
    display: grid;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas: "header"	 "titulo" "contenido" "img" "footer";
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 30px; }
  .gridmainsection {
    text-align: center; }
  .gridmainimg {
    align-items: center;
    grid-area: img; } }
