.footer {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	background-color: black;

	&__rrss {
		display: flex;
  		justify-content:space-around;

		margin-top:30px;
		margin-bottom: 30px;
	
		$iconSocialMedia: (
		  twitter: #55acee,
		  instagram: #c92d8f,
		  facebook: #2279e4,
		);
	
		@each $nameSocialMedia, $colorIcon in $iconSocialMedia {
		  .rs-#{$nameSocialMedia} {
			color: white;
			font-size: 30px;
			transition: all 0.3s;
	
			&:hover {
			  color: $colorIcon;
			}
		  }
		}
	  }

	&.footer__copy {
		padding-top: 40px;
		text-align: center  
	}	
}