* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  body{
	height: 100%;
  background-image: linear-gradient(to left, rgb(252, 217, 143),white 20% 80%,rgb(243, 169, 8));
  }

  a {
	text-decoration: none;
  }
  
  p {
	line-height: 1.5;
  }
  
  ul {
	list-style-type: none;
  }

  .container {
    text-align: center;
    font-size: 40px;
    color: $secondary
  }

  @mixin sizes($width, $height) {
    height: $height;
    width: $width;
  }

  